/* ---> ESTRUTURA <--- */
body{
  margin:0;
  font-family: Poppins;
}
#top,#bottom{
  background-color: #000000;
  color:#ff3d3d;
}
#top{ 
  max-height: 60px;
  padding: 5px 10px 5px 10px;
}
#top h1{
  padding:0;
  margin:0;
}
#bottom{
  height: 300px;
  display:flex;
  justify-content:center;
  align-items: center;
}
.above{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
}
.ctbox30{
  width:25vw;
}
.ctbox60{
  width:60vw;
  padding-top:0px;
}

/* ---> SORTEAR <--- */
div#sortear{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff3d3d;
  box-shadow:inset white 20vw 0 7vw -7vw, inset white -20vw 0 7vw -7vw;
  animation: piscar 5s infinite;
}
div#sortear p{
  font-weight: bold;
  font-size: 30px;
}
@keyframes piscar{
  0%{
    color:black;
  }
  60%{
    color:black;
  }
  80%{
    color:#ffffff;
  }
}
div#sortear:hover{
  animation: hoverColor 0.2s infinite;
  transition:0.2s;
  cursor: pointer;
  background-color: #000000;
  color:white;  
}
@keyframes hoverColor{
  0%{
    color: white;
  }
}

/* ---> CONTENT <--- */
#content{
  background-color: #ffffff;
  color:#000000;
  padding: 20px;
  padding-left:5vw;
  padding-right:5vw;
  min-height: 60vh;
}
#content h3, p{
  margin:0;
}
p{
  font-size:20px;  
}
#content h3{
  font-size:25px;
}
#oqe{
  text-align: left;
}
.centerTitle{
  text-align: center;
}

/* ---> CATEGORIAS SORTEADAS <--- */
div#cat{
  display:inline-box;
  justify-items:start;
}
.catItem{
  background-color: #ffc9b3;
  color:#000000;
  border-radius:15px;
  padding:10px;
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
}

/* ---> ESCOLHER QTD CATEDORIAS E FILTRO DO FILME <---  */
div#catQtd, div#chsFilme{
  display:flex;
  justify-content:center;
  align-items: center;
}
div#catqt{
  display:flex;
}
select#catInput,select#movFilter{
  text-align:center;
  border-radius:5px;
  border:1px solid black;
  margin-right:15px;
  width:50px;
  height:30px;
  font-size:18px;
}
select#movFilter{
  width:165px;
  height:35px;
}
.dadoButton{
  margin-left: 15px;
  margin-top: 0px;
}

/* ---> FILMES <--- */
.filme{
  background-color: #ffc9b3;
  color:#000000;
  border-radius:15px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  justify-content: space-between;
}
.filmeInfo{
  padding:15px;
}
.filmeInfo p{
  padding-bottom:10px;
}
.filmeFoto{
  padding:15px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.poster{
  border-radius:15px;
  max-width: 750px;
  max-height: 422px;
}
#titulo{
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

/* ---> FOOTER <--- */
div#footer{
  text-align: center;
}
p#ctt{
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  transition: 0.2s;
  color:#ffbdbd;
  font-size: 21px;
}


/* ---> RESIZE <--- */
@media screen and (max-width: 1100px){
  .ctbox30{
    width:90vw;
    padding-top:20px;
  }
  .ctbox60{
    width:90vw;
    padding-top:20px;
  }
  .above{
    display:block;
    margin-top: 0px;
  }
  .filme{
    display:block;
  }
  #oqe{
    text-align: center;
  }
}
@media screen and (min-width: 1100px){
  .ctbox30{
    width:25vw;
    padding-top:0px;
  }
  .ctbox60{
    width:60vw;
    padding-top:0px;
  }
  .above{
    display:flex;
    margin-top: 20px;
  }  
  .filme{
    display:flex;
  }
  #oqe{
    text-align: left;
  }
}

/* inputs */
@media screen and (max-width: 600px){
  div#catQtd, div#chsFilme{
    display:block;
  }
  .dadoButton{
    margin-left: 0px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 600px){
  div#catQtd, div#chsFilme{
    display:flex;
  }
  .dadoButton{
    margin-left: 15px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 350px){
  .poster{
    max-width: 550px;
    max-height: 309px;
  }
}
@media screen and (min-width: 350px){
  .poster{
    max-width: 750px;
    max-height: 422px;
  }
}