/* ---> ESTRUTURA <--- */
body{
  margin:0;
  font-family: Poppins;
}
#top,#bottom{
  background-color: #000000;
  color:#ff3d3d;
}
#top{ 
  max-height: 60px;
  padding: 5px 10px 5px 10px;
}
#top h1{
  padding:0;
  margin:0;
}
#bottom{
  height: 300px;
  display:flex;
  justify-content:center;
  align-items: center;
}
div#above{
  display:flex;
  justify-content:space-between;
}
#ctbox30{
  max-width:35vw;
}
#ctbox60{
  max-width:50vw;
  padding-top:0px;
}

/* ---> CONTENT <--- */
#content{
  background-color: #ffffff;
  color:#000000;
  padding: 20px;
  padding-left:5vw;
  padding-right:5vw;
  min-height: 60vh;
}
#content h3, p{
  margin:0;
}
p{
  font-size:20px;  
}
#content h3{
  font-size:25px;
}
div#about{
  padding-bottom:20px;
}
.centerTitle{
  text-align: center;
}

/* ---> CATEGORIAS SORTEADAS <--- */
div#cat{
  display:inline-box;
  justify-items:start;
}
.catItem{
  background-color: #fe6c6c;
  color:#000000;
  border-radius:15px;
  padding:10px;
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
}

/* ---> ESCOLHER QTD CATEDORIAS E FILTRO DO FILME <---  */
div#catQtd, div#chsFilme{
  display:flex;
  justify-content:center;
  align-items: center;
}
div#catqt{
  display:flex;
}
input#catInput,select#movFilter{
  text-align:center;
  border-radius:5px;
  border:1px solid black;
  margin-right:15px;
  width:50px;
  height:30px;
  font-size:18px;
}
select#movFilter{
  width:165px;
  height:35px;
}
.dadoButton{
  margin-left: 15px;
  margin-top: 0px;
}

/* ---> FILMES <--- */
.filme{
  background-color: #fe6c6c;
  color:#000000;
  border-radius:15px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  justify-content: space-between;
}
.filmeInfo{
  padding:15px;
}
.filmeFoto{
  padding:15px;
}
.poster{
  border-radius:15px;
  max-width: 650px;
  max-height: 365px;
}

/* ---> BOTÃO <--- */
button{
  background-color: #ff3d3d;
  color:black;
  width:100px;
  height:35px;
  font-size:18px;
  border-radius:5px;
}
button:hover{
  transition: 0.2s;
  background-color: black;
  color:#ff3d3d;
}

/* ---> FOOTER <--- */
div#footer{
  text-align: center;
}
p#ctt{
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  transition: 0.2s;
  color:#ffbdbd;
  font-size: 21px;
}


/*  RESIZE TXTAREA */
@media screen and (max-width: 1100px){
  #ctbox30{
    max-width:90vw;
  }
  #ctbox60{
    max-width:90vw;
    padding-top:30px;
  }
  div#above, div#catQtd, div#chsFilme{
    display:block;
  }
  .dadoButton{
    margin-left: 0px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1100px){
  #ctbox30{
    max-width:35vw;
  }
  #ctbox60{
    max-width:50vw;
    padding-top:0px;
  }
  div#above, div#catQtd, div#chsFilme{
    display:flex;
  }
  .dadoButton{
    margin-left: 15px;
    margin-top: 0px;
  }
} 